:root {  
    --themeColorMenu: rgb(10, 0, 0);
}

.menu {
    background: var(--themeColorMenu);
    color: white;

    /* responsive width that shrinks on zoom or small screens */
    width: 100%;

    /* makes sure it doesn’t get *too small* on very tiny screens */

    height:100%;
    padding-inline: 1vw;
}

.menu ul {
    margin-top: max(2vh,2vw);
    font-size: 2vh;
}

.menu a {
    color: rgb(142, 142, 141);
}

.menu a:hover {
    color: rgb(252, 193, 155);
}
