/*   
Note to self remeber to create a separate file for the more menu

Not sure if i should so temporarly keeping it here
*/
#root{
    --navBarColor: rgb(22, 22, 22);
    --textColor:rgb(255,255,255);
    --logoCOlor:rgb(190, 190, 190);
    --hoverTextColor: rgb(255,98,00);
    --fontSize:min(3.5vw, 1rem);
  }
.navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2vb;
  background-color:var(--navBarColor);
  width: 100%;
  padding: 0.75vb 2vb;
  box-sizing: border-box;
  position: relative;
  left: 0;
  right: 0;
}

.navbar-logo {
  color: var(--logoCOlor);
  font-size: min(4vw, 1.5rem);
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-logo:hover{
    animation: floating 1s infinite alternate;
}

.navbar-links {
  
  list-style: none;
  display: flex;
  gap: min(2.5vw,2rem);
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  justify-self: flex-end;
}


.navbar-links li a {
  color: var(--textColor);
  text-decoration: none;
  font-size: var(--fontSize);
  transition: color 0.2s;
}

.navbar-links li a:hover {
  color: var(--hoverTextColor);
}

@keyframes floating {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
    
}

/*moremenu.css*/

.menu-more {
  position: relative;
}

.more-button {
  background: none;
  border: none;
  color: var(--textColor);
  font-size: var(--fontSize);
  font-family: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: color 0.2s;
}

.more-button:hover {
  color: var(--hoverTextColor);
}

.more-dropdown-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.more-dropdown {
  display: none;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top: 30px;
  right:0;
  background-color: #3a3a3a;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 0 1rem;
  border-radius: 4px;
}

.more-dropdown.show {
  display: block;
  animation: dropdownAnimation 0.3s forwards;
}


@keyframes dropdownAnimation {
    from {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
    to {
    max-height: 1000px; /* adjust as needed */
    opacity: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
    
}

.BurgerButton {
  display: none;;
}

@media (max-width: 768px){
  .BurgerButton{
    display: flex;
    font-size: 1.5rem;
    color: var(--textColor);
    cursor: pointer;}
}